<!DOCTYPE html>
<html>
    <head>
        <title>Optics Simulator</title>
        {% load static %}
        <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script> 
        <script src="{% static 'js/james_cumming.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/w3.css' %}">
        <link rel="stylesheet" href="{% static 'css/slider.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
<body>
    
    <ul class="navbar">
        <li class="navbar"><a class="navbar" href="{% url 'jaynes' %}">Jaynes-Cumming Model</a></li>
    </ul> 


<h1 class="title">{% block title %}Welcome to my simulator{% endblock %}</h1>

{% block secondaryNavbar %}{% endblock %}
{% block content %}{% endblock %}


</body>
</html>