.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
} 

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.container {
    padding: 0.5rem;
}

.title{
    text-align: center;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.content {
    display: contents;
}
button {
    width: 100%;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
    border: 2px solid #4CAF50; /* Green */
  }

button:hover {
    background-color: white; /* Green */
    color: #4CAF50;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

li.navbar {
    display: inline;
    float: left;
    list-style-type: none;
}
a.navbar {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a.navbar:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
    color: white;
}

ul.secondNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
li a.secondNav {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
  
li a.active {
    background-color: #04AA6D;
    color: white;
}
  
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}